[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

TestResults/
[Mm]oak[Tt]ests/

.vs/
.venvs/
project.lock.json
project.fragment.lock.json
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.json

*.mdf
*.ldf

packages/
!packages/build/
nuget.backup/

_ReSharper*/
*.ReSharper
*.[Rr]eSharper
*.dotSettings
*.dotSettings.user

*.AssemblyInfo.cs
*.FileListAbsolute.txt

*.dmp
*.tmp
*.log

.vscode/
